<div class="bg-danger text-white" style="font-size:20pt;font-weight: bold;">Employees Manager</div>
<div class="bg-secondary">
    <a class="text-white" href="/add">[Add Employee]</a>
    &nbsp;
    <a class="text-white" href="/list">[List Employees]</a>
    &nbsp;
    <a class="text-white" href="/search">[Search Employees]</a>
</div>

